.container {
  padding: 0;
}

#header {
  padding-top: 3em;
  background-color: #1e549f;
  color: #ffffff;
}

h1#logo {
  text-align: center;
  font-weight: 700;
  font-size: 4em;
  padding-bottom: 0;
  margin-bottom: 0;
}

#header img {
  height: 3em;
  margin: 0 auto;
  display: block;
}

nav.navbar {
  background-color: #1e549f;
  color: #ffffff;
}

nav.navbar a {
  text-decoration: none;
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 600;
  width: 100% !important;
  display: block;
}

nav.navbar a:hover, nav.navbar a.active {
  color: #1e549f !important;
  background-color: #ffffff;
}

nav.navbar ul {
  text-align: center;
  display: block;
  font-size: 1.2em;
  list-style: outside none none;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-weight: 700;
  width: 100%;
  background-color: #78bbe6;
  font-size: 3rem;
}

h2.subtitle {
  padding: 1em 0 0 0 !important;
  background-color: #fff !important;
}

.banner h5 {
  font-weight: bold;
}

.banner {
  text-align: center;
  padding: 2rem 1.5rem 7rem 1.5rem;
}

.banner p {
  margin: 0 auto;
  padding-bottom: 3rem;
}

.banner a.blue-button {
  color: #fff;
  background-color: #1e549f;
  padding: 1.5rem;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;

  white-space: nowrap;
}

div.row > p {
  text-align: justify;
}

div.row > p, div.row > ul {
  padding: 0 20px;
}

div.row {
  padding-bottom: 4rem;
}

div.row p > img, div.row p > iframe, div.row p > small {
  text-align: center;
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

footer {
  background-color: #1e549f;
  color: #ffffff;
  padding: 5rem;
}

footer p.subtext {
  margin: 2rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
}

@media (min-width: 750px) {
  #header img {
    height: 4em;
  }

  h1#logo {
    font-size: 7em;
    padding-bottom: 1rem !important;
  }

  .navbar {
    background-color: #1e549f;
    color: #ffffff;
  }

  .navbar ul {
    text-align: center;
    display: block;
    font-size: 1.2em;
    list-style: outside none none;
    margin-bottom: 0px;
    height: 2.7rem;

    float: none !important;
    width: auto !important;
  }

  .navbar ul li {
    display: inline-block;
    margin-bottom: 0px;
    padding: 0 0.05em;
  }

  .navbar a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0.5em;
    outline: 0px none;
  }

  .navbar a:hover, .navbar a.active {
    background-color: #fff;
    color: #1e549f;
    border-radius: 7px 7px 0px 0px;
  }

  div.row {
    padding-bottom: 2rem;
  }

}

@media (min-width: 1060px) {
  #header {
    padding-top: 6em !important;
  }

  h1#logo {
    padding-bottom: 3rem !important;
  }

  .banner a.blue-button {
    font-size: 2.4rem;
    padding: 2rem;
  }

  .banner p {
    width: 66%;
  }

  .navbar ul li {
    display: inline-block;
    margin-bottom: 0px;
    padding: 0 1.5rem;
  }

}
